{
  "api_backend": "https://api.mangadex.network",
  "log_directory": "{{ mdh_log_directory }}/",
  "cache_directory": "{{ mdh_cache_directory }}",
  "client_port": {{ mdh_port }},
  "override_port_report": 443,
  "override_address_report": "{{ ansible_host }}",
  "client_secret": "{{ mdh_token }}",
  "graceful_shutdown_in_seconds": 300,
  "max_kilobits_per_second": {{ mdh_allowed_speed }},
  "max_cache_size_in_mebibytes": {{ mdh_allowed_cache }},
  "max_reported_size_in_mebibytes": {{ mdh_allowed_cache }},
  "cache_scan_interval_in_seconds": 300,
  "cache_refresh_age_in_seconds": 86400,
  "max_cache_scan_time_in_seconds": 15,
  "allow_http2": true,
  "allow_upstream_pooling": true,
  "allow_visitor_refresh": false,
  "enable_prometheus_metrics": true,
  "maxmind_license_key": "",
  "override_upstream": "",
  "reject_invalid_tokens": true,
  "verify_image_integrity": false,
  "low_memory_mode": false,
  "log_level": "{{ mdh_log_level }}",
  "max_log_size_in_mebibytes": 64,
  "max_log_backups": 3,
  "max_log_age_in_days": 7
}